[submodule "luogu_practice"]
	path = luogu_practice
	url = git@github.com:nickdecodes/luogu_practice.git
[submodule "hzoj_practice"]
	path = hzoj_practice
	url = git@github.com:nickdecodes/hzoj_practice.git
[submodule "euler_practice"]
	path = euler_practice
	url = git@github.com:nickdecodes/euler_practice.git
[submodule "leetcode_practice"]
	path = leetcode_practice
	url = git@github.com:nickdecodes/leetcode_practice.git
[submodule "linux_practice"]
	path = linux_practice
	url = git@github.com:nickdecodes/linux_practice.git
[submodule "design_model_practice"]
	path = design_model_practice
	url = git@github.com:nickdecodes/design_model_practice.git
[submodule "daily_practice"]
	path = daily_practice
	url = git@github.com:nickdecodes/daily_practice.git
[submodule "c_practice"]
	path = c_practice
	url = git@github.com:nickdecodes/c_practice.git
[submodule "cpp_practice"]
	path = cpp_practice
	url = git@github.com:nickdecodes/cpp_practice.git
[submodule "python_practice"]
	path = python_practice
	url = git@github.com:nickdecodes/python_practice.git
[submodule "golang_practice"]
	path = golang_practice
	url = git@github.com:nickdecodes/golang_practice.git
[submodule "db_practice"]
	path = db_practice
	url = git@github.com:nickdecodes/db_practice.git
