[submodule "luogu_practice"]
	path = luogu_practice
	url = git@github.com:nickdecodes/luogu_practice.git
[submodule "hzoj_practice"]
	path = hzoj_practice
	url = git@github.com:nickdecodes/hzoj_practice.git
[submodule "euler_practice"]
	path = euler_practice
	url = git@github.com:nickdecodes/euler_practice.git
[submodule "leetcode_practice"]
	path = leetcode_practice
	url = git@github.com:nickdecodes/leetcode_practice.git
[submodule "linux_practice"]
	path = linux_practice
	url = git@github.com:nickdecodes/linux_practice.git
[submodule "design_model_practice"]
	path = design_model_practice
	url = git@github.com:nickdecodes/design_model_practice.git
[submodule "daily_practice"]
	path = daily_practice
	url = git@github.com:nickdecodes/daily_practice.git
[submodule "c_practice"]
	path = c_practice
	url = git@github.com:nickdecodes/c_practice.git
[submodule "cpp_practice"]
	path = cpp_practice
	url = git@github.com:nickdecodes/cpp_practice.git
[submodule "python_practice"]
	path = python_practice
	url = git@github.com:nickdecodes/python_practice.git
[submodule "golang_practice"]
	path = golang_practice
	url = git@github.com:nickdecodes/golang_practice.git
[submodule "db_practice"]
	path = db_practice
	url = git@github.com:nickdecodes/db_practice.git
[submodule "streaming_media_practice"]
	path = streaming_media_practice
	url = git@github.com:nickdecodes/streaming_media_practice.git
[submodule "opencv_practice"]
	path = opencv_practice
	url = git@github.com:nickdecodes/opencv_practice.git
[submodule "c-practice"]
	path = c-practice
	url = git@github.com:nickdecodes/c-practice.git
[submodule "cpp-practice"]
	path = cpp-practice
	url = git@github.com:nickdecodes/cpp-practice.git
[submodule "db-practice"]
	path = db-practice
	url = git@github.com:nickdecodes/db-practice.git
[submodule "design-model-practice"]
	path = design-model-practice
	url = git@github.com:nickdecodes/design-model-practice.git
[submodule "euler-practice"]
	path = euler-practice
	url = git@github.com:nickdecodes/euler-practice.git
[submodule "golang-practice"]
	path = golang-practice
	url = git@github.com:nickdecodes/golang-practice.git
[submodule "hzoj-practice"]
	path = hzoj-practice
	url = git@github.com:nickdecodes/hzoj-practice.git
[submodule "leetcode-practice"]
	path = leetcode-practice
	url = git@github.com:nickdecodes/leetcode-practice.git
[submodule "linux-practice"]
	path = linux-practice
	url = git@github.com:nickdecodes/linux-practice.git
[submodule "luogu-practice"]
	path = luogu-practice
	url = git@github.com:nickdecodes/luogu-practice.git
[submodule "python-practice"]
	path = python-practice
	url = git@github.com:nickdecodes/python-practice.git
[submodule "opencv-practice"]
	path = opencv-practice
	url = git@github.com:nickdecodes/opencv-practice.git
[submodule "streaming-media-practice"]
	path = streaming-media-practice
	url = git@github.com:nickdecodes/streaming-media-practice.git
